.searchBarContainer {
  width: 500px;
  border: none;
}

.imageElement--carouselImage {
  border-radius: 20px;
}

.searchBarContainer :global(.vtex-input-prefix__group) {
  border: none;
  border-bottom: 1px solid #59ff00;
  border-radius: 0px;
}

.autoCompleteOuterContainer :global(.vtex-input__suffix) {
  background: transparent;
}

.searchIcon,
.swiperBullet--active,
.sellingPrice,
.installmentsPrice {
  color: #fff;
}

.productBrand {
  color: #59ff00;
}

.buyButtonText {
  color: #3c3c3c;
  background-color: #59ff00;
  padding: 10px 16px;
  border-radius: 5px;
  font-size: 0.875rem;
}
